* {
  font-size: 1em;
}
html,
body {
  height: 100%;
  margin: 0;
}
.title {
  text-align: center;
  color: #2c3e50; /* Dark blue */
}
body {
  margin: 0;
}

.indent {
  padding-left: 12px;
}

.degree {
  font-weight: bold;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34495e; /* Dark blue */
}

.resume {
  height: 200vh;
  width: 100vw;

  max-width: 1000px; /* Optional: Limit the maximum width */
  border-radius: 10px;
  background-color: #b5bfea; /* Light gray */
  text-align: left;
  padding: 20px; /* Optional: Add padding */

  font-family: "Roboto", Arial, sans-serif; /* Modern font */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); /* Shadow effect */
}

.resume a:link,
.resume a:visited {
  color: #2c3e50; /* Dark blue */
  text-decoration: none;
}

.resume a:hover {
  color: #fefa00; /* Red */
  cursor: pointer;
}

#container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#image {
  height: 400px;
  width: 400px;
  position: absolute;
}

.second {
  background-color: #34495e;
}
