@font-face {
  font-family: "Bagel Fat One";
  src: url("../fonts/BagelFatOne-Regular.ttf") format("truetype");
}

* {
  font-family: "Bagel Fat One", Arial, sans-serif;
  font-size: 40px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0px 40px;
  border-bottom: 2px solid black;

  /* border-bottom: 3px solid black; */
}
#container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#image {
  height: 400px;
  width: 400px;
  position: absolute;
  margin: 0px;
  /* Adjust the transition duration and easing as desired */
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.about-me h2 {
  font-size: 1.5em;
}

.resume h2 {
  font-size: 1.5em;
}

.inline-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.bold-text {
  font-weight: bold;
}
.link {
  text-decoration: none;
  color: black;
}
